html {
    box-sizing: border-box;
    font-size: 10px;
}

:root{
      --light-orange: #f7ede3;
      --orange-accent: #f5bd5e;
      --green-accent: #44635d;
      --grey-text: #1b1b1b;
      --font-heading: 'Lato', sans-serif;
      --font-sub: 'Poppins', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    height: auto;
}
section{
    height: 100vh;
}
.mgn-top-sm{
    margin-top: 1.5rem;
}
.btn{
    display: inline-block;
    font-size: 1.5rem;
    font-family: var(--font-sub);
    color: #fff;
    padding: 1rem 2rem;
    background-color: var(--green-accent);
}

.landing{
    background-color: #f7ede3;
}

.nav-container{
    width: 100%;
    height: 10rem;
    background-color: transparent;
}
.menu{
    margin: 0 5rem;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 3rem;
    color: var(--green-accent);
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-weight: 900;
}
.menu_list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 53rem;
    z-index: 3;
}
.menu_list a{
    color: var(--green-accent);
    font-size: 2rem;
    font-family: var(--font-sub);
    font-weight: 400;
    padding: .5rem;
}

.menu_list a{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(.1rem) translateZ(0);
    transform: perspective(.1rem) translateZ(0);
    box-shadow: 0 0 .1rem rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.menu_list a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--green-accent);
    height: .4rem;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .menu_list a:hover:before, .menu_list a:focus:before, .menu_list a:active:before {
    left: 0;
    right: 0;
  }

.cta-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 5rem;
}
.cta-container h1{
    width: 33vw;
    font-size: 5rem;
    color: var(--green-accent);
    font-family: var(--font-heading);
    font-weight: 900;
}

.cta-container p{
    width: 33vw;
    margin: -3rem 0 3rem 0;
    font-size: 1.5rem;
    color: var(--grey-text);
    font-family: var(--font-sub);
    font-weight: 400;
}

.socials{
    width: 33vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    margin-top: 3rem;
}
.socials a{
    font-size: 1.8rem;
    font-family: var(--font-sub);
    font-weight: 400;
    color: var(--grey-text);
}
.side-img{
    width: 63rem;
    height: 56.7rem;
    margin-top: -10rem;
    background-color: var(--orange-accent);
    z-index: 1;
}
.side-img img{
    margin-top: 10rem;
    width: 35rem;
}
.why{
    background-color: var(--light-orange);
}

.exp-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 5rem;
    margin-top: -3rem;
}
.img-exp{
    background-color: var(--green-accent);
    width: 25rem;
    height: 35rem;
    overflow: hidden;
    box-shadow: .7rem .5rem 1.5rem -0.7rem rgba(0,0,0,0.47);
-webkit-box-shadow: .7rem .5rem 1.5rem -0.7rem rgba(0,0,0,0.47);
-moz-box-shadow: .7rem .5rem 1.5rem -0.7rem rgba(0,0,0,0.47);
}
.img-exp img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-bottom: -2rem;
}
.img-exp p{
    font-size: 2rem;
    text-align: center;
    color: #fff;
    font-family: var(--font-sub);
}
.img-exp span{
    display: block;
}

.text-exp{
    width: 60rem;
    height: 38rem;
}
.text-exp_container{
    height: 31rem;
    margin-top: -4rem;
}
.text-exp_container h1 {
    font-family: var(--font-heading);
    font-size: 4rem;
    color: var(--green-accent);
    width: 40rem;
}
.text-exp_container > p {
    font-family: var(--font-sub);
    font-size: 1.5rem;
    color: var(--grey-text);
    width: 40rem;
    margin-top: -3rem;
}

.founder{
    display: flex;
    justify-content: space-between;
    height: 7rem;
}
.founder-name p{
    font-family: var(--font-sub);
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 1rem;
    color: var(--green-accent);
}
.founder-name span{
    font-size: 1.1rem;
    display: block;
}
.founder-img {
    width: 25rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.founder-img img{
    width: 30%;
    border-radius: 50%;
    border: .5rem solid var(--green-accent);
}
.founder-number{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
    width: 20rem;
}
.founder-number i{
    font-size: 3rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    text-align: center;
    background-color: var(--green-accent);
    color: #fff;
    padding-top: 1rem;
}
.founder-number a{
    font-size: 1.5rem;
    font-family: var(--font-sub);
    color: var(--green-accent);
    font-weight: bolder;
}
.funds{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    width: 100%;
    height: 14rem;
    background-image: url(../img/liquid-cheese.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.money{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    color: #fff;
    text-align: left;
}
.money i{  
    font-size: 8rem;
}
.amount{
    font-size: 3rem;
    font-family: var(--font-heading);
}
.amount span{
    display: block;
    font-size: 1.3rem;
    font-family: var(--font-sub);
}

.cause{
    background-color: var(--light-orange);
    overflow: hidden;
}
.cause-heading{
    margin: -1rem 0 0 5rem;
    width: 60rem;
}
.cause-heading h1{
    font-size: 3.5rem;
    width: 20rem;
    font-family: var(--font-heading);
    color: var(--green-accent);
}
.cause-heading h1::after{
    content: '';
    display: block;
    background-color: var(--green-accent);
    width: 90%;
    height: .5rem;
    margin-top: 1rem;

}
.cause-heading p{
    font-size: 1.3rem;
    width: 55rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
    font-family: var(--font-sub);
    color: var(--grey-text);
}
.cause-card_container{
    display: flex;
    justify-content: space-around;
    padding: 0 5rem;
    height: 45rem;
}
.cause-cards{
    position: relative;
    background-color: #ffffff;
    margin: 0 1.5rem;
    width: 30rem;
    height: 38rem;
    overflow: hidden;
    box-shadow: .7rem .5rem 1.5rem -0.7rem rgba(0,0,0,0.47);
-webkit-box-shadow: .7rem .5rem 1.5rem -0.7rem rgba(0,0,0,0.47);
-moz-box-shadow: .7rem .5rem 1.5rem -0.7rem rgba(0,0,0,0.47);
}

.cause-cards img{
    width: 28rem;
    margin: 1rem;
    filter: brightness(50%);
    transition: filter .3s ease-in;
}
.cause-cards:hover img{
    filter: brightness(100%);
}
.cause-why{
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 1rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font-sub);
    padding: .5rem;
    background-color: var(--green-accent);
}
.cause-cards h3{
    position: relative;
    font-size: 1.8rem;
    margin: -1rem 1rem;
    font-family: var(--font-heading);
    color: var(--green-accent);
}
.cause-cards p{
    font-size: 1.2rem;
    margin: 1rem;
    font-family: var(--font-sub);
    color: var(--grey-text);
}
.cause-cards a{
    margin: 1rem;
}
.cause-cards label{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 1rem;
    font-family: var(--font-sub);
    color: var(--grey-text);
}
.cause-cards progress {
    border-radius: .7rem; 
    width: 90%;
    height: 1.5rem;
    margin: 1rem;
    box-shadow: .3rem .3rem 1rem -0.7rem rgba(0,0,0,0.47);
    -webkit-box-shadow: .3rem .3rem 1rem -0.7rem rgba(0,0,0,0.47);
    -moz-box-shadow: .3rem .3rem 1rem -0.7rem rgba(0,0,0,0.47);

}
.cause-cards  progress::-webkit-progress-bar {
    background-color: var(--light-orange);
    border-radius: 0;
}
.cause-cards progress::-webkit-progress-value {
    background-color: var(--green-accent);
    border-radius: 0;
}

@media (max-width: 1150px){
    .cause, .why, .landing{
        display: none;
    }
    .error{
        display: block;
        background-color: var(--light-orange);
    }
    .error h1{
        font-size: 5rem;
        color: var(--green-accent);
        font-family: var(--font-heading);
        padding: 5rem;
        text-transform: uppercase;
    }
}